.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 2rem;
  border-bottom: 2px solid #37bef8d1;
}

.nav__list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}


